// userTable.scss
.user-table {
  height: calc(100% - 62px);
  background-color: #fff;
  position: relative;
  width: 100%;
  // 分页栏目
  .pager {
    position: absolute;
    width: 68%;
    bottom: -30px;
    right: 0px;
  }
}
